<button class="btn btn-sm rounded-lg" onclick="howTo.showModal()">How to Use</button>

<dialog id="howTo" class="modal absolute top-2 left-2">
  <div class="modal-box max-w-3xl">
    <h3 class="text-2xl font-bold">How to Use</h3>

    <div class="ml-3">
      <h4 class="text-xl py-4">Set the Time</h4>
      <p class="ml-3 pb-4"><strong>Use the url-paramater "?dateTime=" to set the countdown like so:</strong><br>
        <span class="text-sm">"https://time-wizard.oebreme.dev/countdown?dateTime=24.07.2024"</span> <br>
        <span class="ml-2 italic">[this translates to] </span> <br>
        <span class="text-sm">24th July 2024, 00:00 AM</span>
      </p>
      <p class="ml-3 pb-4 pt-2"><strong>You can also define a specific time:</strong><br>
        <span class="text-sm">"https://time-wizard.oebreme.dev/countdown?dateTime=24.07.2024 <strong>06:00</strong>"</span> <br>
        <span class="ml-2 italic">[this translates to] </span> <br>
        <span class="text-sm">24th July 2024, <strong>06:00 AM</strong></span>
      </p>
    </div>

    <div class="divider"></div>

    <div class="ml-3">
      <h4 class="text-xl py-4">Custom Title</h4>
      <div class="ml-3 pb-4"><strong>You can also specify your own title:</strong><br>
        <span class="text-sm">"https://time-wizard.oebreme.dev/countdown?title=Pomodoro"</span> <br>
        <span class="ml-2 italic">[this translates to] </span> <br>
        <div class="flex flex-row items-center p-4">
          <div class="flex flex-row items-center">
            <div class="bg-muted rounded-full w-10 h-10 flex items-center justify-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="w-6 h-6 text-muted-foreground"
              >
                <circle cx="12" cy="12" r="10"></circle>
                <polyline points="12 6 12 12 16 14"></polyline>
              </svg>
            </div>
            <div class="ml-3">
              <h2 class="text-xl font-bold text-center"> Pomodoro </h2></div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <form method="dialog" class="modal-backdrop ">
    <button>close</button>
  </form>
</dialog>
