<div class="min-h-svh flex items-center justify-center">
  <div class="bg-background rounded-lg border p-6 w-full max-w-lg flex flex-col gap-6 m-2">
    <div class="flex flex-row items-center justify-between">
      <div class="flex flex-row items-center">
        <div class="bg-muted rounded-full w-10 h-10 flex items-center justify-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="w-6 h-6 text-muted-foreground"
          >
            <circle cx="12" cy="12" r="10"></circle>
            <polyline points="12 6 12 12 16 14"></polyline>
          </svg>
        </div>
        <h2 class="text-xl font-bold text-center ml-3">Countdown</h2>
      </div>
    </div>
    <div class="grid grid-cols-5 gap-6 text-center">
      <time-wizard-countdown-element
        [time]="remainingYearsFromMilliseconds(remainingMilliseconds)"
        displayName="Years">
      </time-wizard-countdown-element>
      <time-wizard-countdown-element
        [time]="remainingDaysFromMilliseconds(remainingMilliseconds)"
        displayName="Days">
      </time-wizard-countdown-element>
      <time-wizard-countdown-element
        [time]="remainingHoursFromMilliseconds(remainingMilliseconds)"
        displayName="Hours">
      </time-wizard-countdown-element>
      <time-wizard-countdown-element
        [time]="remainingMinutesFromMilliseconds(remainingMilliseconds)"
        displayName="Minutes">
      </time-wizard-countdown-element>
      <time-wizard-countdown-element
        [time]="remainingSecondsFromMilliseconds(remainingMilliseconds)"
        displayName="Seconds">
      </time-wizard-countdown-element>
    </div>
  </div>
</div>

<time-wizard-footer
  [parseResult]="parseDatetimeResult"
  [remainingMilliseconds]="remainingMilliseconds"
></time-wizard-footer>
